#Player Easy Child Mode Configuration
#
# List player names that should receive reduced hurt damage and increased attack damage.
# Percentages: 0 = disabled, 100 = full reduction/increase.
#Tue Aug 25 05:34:49 MDT 2026
childPlayerAttackDamageIncrease=50
childPlayerHurtDamageReduction=50
childPlayerNames=
enabled=auto
