#Player Login Protection Configuration
#
# When enabled, players receive brief invisibility + invulnerability on login
# until they move (or until the timeout expires).
#Tue Aug 25 05:34:48 MDT 2026
enabled=auto
playerLoginValidationTimeout=60
protectPlayerDuringLogin=true
protectPlayerDuringLoginLogging=true
